.uniqueitem {
    color: var(--color-uniqueitem);
}
.gemitem {
    color: var(--color-gemitem);
}
.currencyitem {
    color: var(--color-currencyitem);
}
.rareitem {
    color: var(--color-rareitem);
}
.whiteitem {
    color: var(--color-whiteitem);
}
.corrupted {
    color: var(--color-corrupted);
}
.magicitem {
    color: var(--color-magicitem);
}
.default {
    color: var(--color-default);
}
.augmented {
    color: var(--color-augmented);
}
.enchanted {
    color: var(--color-enchanted);
}
.divination {
    color: var(--color-divination);
}
.fractured {
    color: var(--color-fractured);
}
.normal {
    color: var(--color-normal);
}
.Gemitem {
    color: var(--color-magicitem);
}

.n-card > .n-card-header {
    padding-bottom: 24px!important;
}

.simpleitem-wrap {
    box-shadow: 0 0 16px rgba(0, 0, 0, .5);
    background-color: rgb(72, 72, 78);
    padding: 4px 8px;
    color: rgba(255, 255, 255, 0.82);
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.2;
  }